<h1>Reservar Assento para <%= @show.movie_title %></h1>

<%= form_with model: [@show, @seat_reservation], local: true do |form| %>
  <%# Campos do formulário, como seleção de assento, etc. %>
  <div>
    <%= form.label :seat_number %>
    <%= form.text_field :seat_number %>
  </div>

  <div>
    <%= form.submit "Reservar Assento" %>
  </div>
<% end %>

<%= link_to 'Voltar', cinemas_path %>
